@{
  ViewData["Title"] = "Engagement";
}
<!-- Page Banner Start -->
@await Html.PartialAsync("_PageBannerStart")
<!-- Page Banner End -->

<body>

  <div class="main-wrapper main-wrapper-02">
    <!-- Courses Admin Start -->
    <div class="section overflow-hidden position-relative" id="wrapper">

      <!-- Sidebar Wrapper Start -->
      <div class="sidebar-wrapper">
        <div class="menu-list">
          <a class="active" href="courses-admin.html"><img src="~/assets/images/menu-icon/icon-1.png" alt="Icon"></a>
          <a href="messages.html"><img src="~/assets/images/menu-icon/icon-2.png" alt="Icon"></a>
          <a href="overview.html"><img src="~/assets/images/menu-icon/icon-3.png" alt="Icon"></a>
          <a href="engagement.html"><img src="~/assets/images/menu-icon/icon-4.png" alt="Icon"></a>
          <a href="traffic-conversion.html"><img src="~/assets/images/menu-icon/icon-5.png" alt="Icon"></a>
        </div>
      </div>
      <!-- Sidebar Wrapper End -->

      <div class="page-content-wrapper py-0">

        <!-- Admin Tab Menu Start -->
        <div class="nav flex-column nav-pills admin-tab-menu">
          <a href="~/Classroom/Overview" class="active">Overview</a>
          <a href="~/Classroom/Students">Student’s</a>
          <a href="~/Classroom/Reviews">Review’s</a>
          <a href="~/Classroom/Engagement">Course Engagement</a>
          <a href="~/Classroom/TrafficConversion">Traffic & Conversion</a>
        </div>
        <!-- Admin Tab Menu End -->

        <!-- Page Content Wrapper Start -->
        <div class="main-content-wrapper">
          <div class="container-fluid">

            <!-- Engagement Top Start -->
            <div class="admin-top-bar">
              <div class="courses-select">
                <select>
                  <option data-display="All Courses">All Courses</option>
                  <option value="1">option</option>
                  <option value="2">option</option>
                  <option value="3">option</option>
                  <option value="4">Potato</option>
                </select>
              </div>

              <div class="engagement-meta">
                <p class="meta"><img src="~/assets/images/icon/icon-1.png" alt="Icon"> 11,001 Minutes Taught</p>
                <p class="meta"><img src="~/assets/images/icon/icon-2.png" alt="Icon"> 520 Active Students</p>
              </div>
            </div>
            <!-- Engagement Top End -->

            <!-- Graph Top Start -->
            <div class="graph">
              <div class="graph-title">
                <h4 class="title">Minutes Taught</h4>

                <div class="months-select">
                  <select>
                    <option data-display="Last 12 months">Last 12 months</option>
                    <option value="1">Last 6 months</option>
                    <option value="1">Last 3 months</option>
                    <option value="1">Last 2 months</option>
                    <option value="1">Last 1 months</option>
                    <option value="1">Last 1 week</option>
                  </select>
                </div>
              </div>

              <div class="graph-content">
                <div id="uniqueVisits"></div>
              </div>
            </div>
            <!-- Graph Top End -->

            <!-- Engagement Courses Start -->
            <div class="engagement-courses">

              <div class="courses-top">
                <ul>
                  <li>All Course’s</li>
                  <li>Minutes Taught</li>
                  <li>Active Student’s</li>
                </ul>
              </div>

              <div class="courses-list">
                <ul>
                  <li>
                    <div class="courses">
                      <div class="thumb">
                        <img src="~/assets/images/courses/admin-courses-01.jpg" alt="Courses">
                      </div>
                      <div class="content">
                        <h4 class="title"><a href="#">Build An eCommerce Site With WooCommerce and WooLentor</a></h4>
                      </div>
                    </div>
                    <div class="taught">
                      <span>11,001</span>
                    </div>
                    <div class="student">
                      <span>520</span>
                    </div>
                    <div class="button">
                      <a class="btn" href="#">View Details</a>
                    </div>
                  </li>
                  <li>
                    <div class="courses">
                      <div class="thumb">
                        <img src="~/assets/images/courses/admin-courses-01.jpg" alt="Courses">
                      </div>
                      <div class="content">
                        <h4 class="title"><a href="#">Build An WholeSale WooCommerce Store using Whols Plugin</a></h4>
                      </div>
                    </div>
                    <div class="taught">
                      <span>11,001</span>
                    </div>
                    <div class="student">
                      <span>520</span>
                    </div>
                    <div class="button">
                      <a class="btn" href="#">View Details</a>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
            <!-- Engagement Courses End -->

          </div>
        </div>
        <!-- Page Content Wrapper End -->

      </div>

    </div>
    <!-- Courses Admin End -->

    <!--Back To Start-->
    <a href="#" class="back-to-top">
      <i class="icofont-simple-up"></i>
    </a>
    <!--Back To End-->

  </div>

</body>
