@model GreTutor.Areas.Staff.Models.AddRoleModel
@{
    ViewData["Title"] = "Set Role";
    Layout = "_Layout";
}

<!-- Page Banner Start -->
@await Html.PartialAsync("_PageBannerStart")
<!-- Page Banner End -->

<partial name="_StatusMessage" for="StatusMessage" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="text-center">Set Role cho User: @Model.User?.UserName</h1> 
            <form id="set-role-form" method="post" asp-action="AddRole" asp-controller="User">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating mb-3">
                    <label asp-for="RoleNames"></label>
                    @Html.ListBoxFor(m => m.RoleNames, Model.AllRoles, new
                    {
                        id = "id-select-roles",
                        @class = "form-control"
                    })
                    <span asp-validation-for="RoleNames" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
                <a class="btn btn-secondary" asp-action="Index" asp-controller="User">List Member</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
