<!-- Call to Action Start -->
<div class="section section-padding-02">
    <div class="container">
        <!-- Call to Action Wrapper Start -->
        <div class="call-to-action-wrapper">
            <img class="cat-shape-01 animation-round" src="assets/images/shape/shape-12.png" alt="Shape" />
            <img class="cat-shape-02" src="assets/images/shape/shape-13.svg" alt="Shape" />
            <img class="cat-shape-03 animation-round" src="assets/images/shape/shape-12.png" alt="Shape" />

            <div class="row align-items-center">
                <div class="col-md-6">
                    <!-- Section Title Start -->
                    <div class="section-title shape-02">
                        <h5 class="sub-title">Become A Instructor</h5>
                        <h2 class="main-title">
                            You can join with GreTutor as <span>a instructor?</span>
                        </h2>
                    </div>
                    <!-- Section Title End -->
                </div>
                <div class="col-md-6">
                    <div class="call-to-action-btn">
                        <a class="btn btn-primary btn-hover-dark" href="contact.html">Drop Information</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action Wrapper End -->
    </div>
</div>
<!-- Call to Action End -->

<!-- How It Work End -->
<div class="section section-padding mt-n1">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title shape-03 text-center">
            <h5 class="sub-title">Over 1,235+ Course</h5>
            <h2 class="main-title">How It <span> Work?</span></h2>
        </div>
        <!-- Section Title End -->

        <!-- How it Work Wrapper Start -->
        <div class="how-it-work-wrapper">
            <!-- Single Work Start -->
            <div class="single-work">
                <img class="shape-1" src="assets/images/shape/shape-15.png" alt="Shape" />

                <div class="work-icon">
                    <i class="flaticon-transparency"></i>
                </div>
                <div class="work-content">
                    <h3 class="title">Find Your Course</h3>
                    <p>
                        It has survived not only centurie also leap into electronic.
                    </p>
                </div>
            </div>
            <!-- Single Work End -->

            <!-- Single Work Start -->
            <div class="work-arrow">
                <img class="arrow" src="assets/images/shape/shape-17.png" alt="Shape" />
            </div>
            <!-- Single Work End -->

            <!-- Single Work Start -->
            <div class="single-work">
                <img class="shape-2" src="assets/images/shape/shape-15.png" alt="Shape" />

                <div class="work-icon">
                    <i class="flaticon-forms"></i>
                </div>
                <div class="work-content">
                    <h3 class="title">Book A Seat</h3>
                    <p>
                        It has survived not only centurie also leap into electronic.
                    </p>
                </div>
            </div>
            <!-- Single Work End -->

            <!-- Single Work Start -->
            <div class="work-arrow">
                <img class="arrow" src="assets/images/shape/shape-17.png" alt="Shape" />
            </div>
            <!-- Single Work End -->

            <!-- Single Work Start -->
            <div class="single-work">
                <img class="shape-3" src="assets/images/shape/shape-16.png" alt="Shape" />

                <div class="work-icon">
                    <i class="flaticon-badge"></i>
                </div>
                <div class="work-content">
                    <h3 class="title">Get Certificate</h3>
                    <p>
                        It has survived not only centurie also leap into electronic.
                    </p>
                </div>
            </div>
            <!-- Single Work End -->
        </div>
    </div>
</div>
<!-- How It Work End -->

<!-- Testimonial End -->
<div class="section section-padding-02 mt-n1">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title shape-03 text-center">
            <h5 class="sub-title">Student Testimonial</h5>
            <h2 class="main-title">Feedback From <span> Student</span></h2>
        </div>
        <!-- Section Title End -->

        <!-- Testimonial Wrapper End -->
        <div class="testimonial-wrapper testimonial-active">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Single Testimonial Start -->
                    <div class="single-testimonial swiper-slide">
                        <div class="testimonial-author">
                            <div class="author-thumb">
                                <img src="assets/images/author/author-dat.png" alt="Author" />

                                <i class="icofont-quote-left"></i>
                            </div>

                            <span class="rating-star">
                                <span class="rating-bar" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="testimonial-content">
                            <p>
                                I've seen a significant improvement in my test scores. The
                                personalized study plans and detailed explanations helped
                                me understand the material in depth. Highly recommend for
                                anyone serious about boosting their GRE score!
                            </p>
                            <h4 class="name">Tran Manh Dat</h4>
                            <span class="designation">Software Engineer, VN</span>
                        </div>
                    </div>
                    <!-- Single Testimonial End -->

                    <!-- Single Testimonial Start -->
                    <div class="single-testimonial swiper-slide">
                        <div class="testimonial-author">
                            <div class="author-thumb">
                                <img src="assets/images/author/author-vu.jpg" alt="Author" />

                                <i class="icofont-quote-left"></i>
                            </div>

                            <span class="rating-star">
                                <span class="rating-bar" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="testimonial-content">
                            <p>
                                The instructors at GreTutor are incredibly knowledgeable
                                and approachable. They always went the extra mile to
                                ensure I understood challenging concepts. Their support
                                was instrumental in my preparation for the GRE.
                            </p>
                            <h4 class="name">Vu Nguyen</h4>
                            <span class="designation">Software Engineer, VN</span>
                        </div>
                    </div>
                    <!-- Single Testimonial End -->

                    <!-- Single Testimonial Start -->
                    <div class="single-testimonial swiper-slide">
                        <div class="testimonial-author">
                            <div class="author-thumb">
                                <img src="assets/images/author/author-hao.jpg" alt="Author" />

                                <i class="icofont-quote-left"></i>
                            </div>

                            <span class="rating-star">
                                <span class="rating-bar" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="testimonial-content">
                            <p>
                                I really appreciated the flexibility of the GreTutor
                                program. The online resources and practice tests were
                                top-notch and allowed me to study effectively around my
                                busy schedule. It made a huge difference in my confidence
                                on test day.
                            </p>
                            <h4 class="name">Cao Nguyen Hao</h4>
                            <span class="designation">Software Engineer, VN</span>
                        </div>
                    </div>
                    <!-- Single Testimonial End -->

                    <!-- Single Testimonial Start -->
                    <div class="single-testimonial swiper-slide">
                        <div class="testimonial-author">
                            <div class="author-thumb">
                                <img src="assets/images/author/author-truong.png" alt="Author" />

                                <i class="icofont-quote-left"></i>
                            </div>

                            <span class="rating-star">
                                <span class="rating-bar" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="testimonial-content">
                            <p>
                                Joining GreTutor was the best decision for my GRE
                                preparation. The feedback on my practice essays was
                                particularly helpful. The detailed critiques and
                                actionable advice really helped me improve my analytical
                                writing skills.
                            </p>
                            <h4 class="name">Cao Van Truong</h4>
                            <span class="designation">Software Engineer, VN</span>
                        </div>
                    </div>
                    <!-- Single Testimonial End -->

                    <!-- Single Testimonial Start -->
                    <div class="single-testimonial swiper-slide">
                        <div class="testimonial-author">
                            <div class="author-thumb">
                                <img src="assets/images/author/author-tuan.png" alt="Author" />

                                <i class="icofont-quote-left"></i>
                            </div>

                            <span class="rating-star">
                                <span class="rating-bar" style="width: 80%"></span>
                            </span>
                        </div>
                        <div class="testimonial-content">
                            <p>
                                GreTutor provided me with all the tools I needed to
                                succeed on the GRE. The tips and strategies I learned
                                during the sessions helped me tackle the exam more
                                effectively. Thanks to the tutor's guidance, I achieved a
                                higher score than I initially aimed for!
                            </p>
                            <h4 class="name">Pham Van Tuan</h4>
                            <span class="designation">Software Engineer, VN</span>
                        </div>
                    </div>
                    <!-- Single Testimonial End -->
                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- Testimonial Wrapper End -->
    </div>
</div>
<!-- Testimonial End -->