@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<!-- Page Banner Start -->
@await Html.PartialAsync("_PageBannerStart")
<!-- Page Banner End -->

<div class="section section-padding">
    <div class="container">
        <div class="register-login-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="register-login-form text-center">
                        <div class="form-wrapper">
                            <h3 class="title">@ViewData["Title"]</h3>
                            <div class="card p-4 border-0 shadow-sm mt-4">
                                <div class="card-body">
                                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                                    <a asp-page="./Login" class="btn btn-primary btn-hover-dark w-100 mt-3">
                                        Back to Login
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
