@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<!-- Page Banner Start -->
@await Html.PartialAsync("_PageBannerStart")
<!-- Page Banner End -->

<div class="section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="register-login-form text-center">
                    <div class="form-wrapper">
                        <h3 class="title">Reset Password</h3>
                        <div class="card p-4 border-0 shadow-sm mt-4">
                            <div class="card-body">
                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <input asp-for="Input.Code" type="hidden" />
                                    
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" 
                                               aria-required="true" placeholder="name@example.com" />
                                        <label asp-for="Input.Email" class="form-label"></label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password"
                                               aria-required="true" placeholder="Enter new password" />
                                        <label asp-for="Input.Password" class="form-label"></label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                                               aria-required="true" placeholder="Confirm new password" />
                                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                                </form>
                            </div>
                        </div>
                        <a asp-page="./Login" class="btn btn-secondary mt-3">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
