@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<!-- Page Banner Start -->
@await Html.PartialAsync("_PageBannerStart")
<!-- Page Banner End -->

<!-- About Start -->
<div class="section">
    <div class="section-padding-02 mt-n10">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- About Images Start -->
                    <div class="about-images">
                        <div class="images">
                            <img src="assets/images/about.jpg" alt="About" />
                        </div>

                        <div class="about-years">
                            <div class="years-icon">
                                <img src="assets/images/logo-icon.png" alt="About" />
                            </div>
                            <p><strong>10+</strong> Years Experience</p>
                        </div>
                    </div>
                    <!-- About Images End -->
                </div>
                <div class="col-lg-6">
                    <!-- About Content Start -->
                    <div class="about-content">
                        <h5 class="sub-title">Welcome to Gretutor.</h5>
                        <h2 class="main-title">
                            Created for the sole purpose of helping you master the English language.
                            <span>English language.</span>
                        </h2>
                        <p>
                            EngTutor is an online platform designed to support students at every stage of their English learning journey. It offers practice exercises, video tutorials, and interactive quizzes tailored to individual needs. With a user-friendly interface and advanced progress tracking, EngTutor enhances study strategies, making it an invaluable resource for language mastery.


                        </p>
                    </div>
                    <!-- About Content End -->
                </div>
            </div>
        </div>
    </div>

    <div class="section-padding-02 mt-n6">
        <div class="container">
            <!-- About Items Wrapper Start -->
            <div class="about-items-wrapper">
                <div class="row">
                    <div class="col-lg-4">
                        <!-- About Item Start -->
                        <div class="about-item">
                            <div class="item-icon-title">
                                <div class="item-icon">
                                    <i class="flaticon-tutor"></i>
                                </div>
                                <div class="item-title">
                                    <h3 class="title">Top Instructors</h3>
                                </div>
                            </div>
                            <p>
                                EngTutor's top instructors are experienced educators specializing in English language training. 
                                They offer personalized strategies to meet individual learning goals, helping students build confidence in speaking, 
                                listening, reading, and writing.


                            </p>
                            <p>
                                With engaging teaching methods, these instructors create a
                                supportive environment that fosters growth.
                            </p>
                        </div>
                        <!-- About Item End -->
                    </div>
                    <div class="col-lg-4">
                        <!-- About Item Start -->
                        <div class="about-item">
                            <div class="item-icon-title">
                                <div class="item-icon">
                                    <i class="flaticon-coding"></i>
                                </div>
                                <div class="item-title">
                                    <h3 class="title">Flexible Learning Program</h3>
                                </div>
                            </div>
                            <p>
                                Designed for busy learners, this program provides access to resources anytime, anywhere, allowing you to study at your own pace.
                            </p>
                            <p>
                                Whether you're commuting, on a lunch break, or relaxing at home, 
                                the Flexible Learning Program makes it easy to stay consistent and make steady progress in your English skills.
                            </p>
                        </div>
                        <!-- About Item End -->
                    </div>
                    <div class="col-lg-4">
                        <!-- About Item Start -->
                        <div class="about-item">
                            <div class="item-icon-title">
                                <div class="item-icon">
                                    <i class="flaticon-increase"></i>
                                </div>
                                <div class="item-title">
                                    <h3 class="title">Rapid Improvement</h3>
                                </div>
                            </div>
                            <p>
                                This targeted approach focuses on identifying and addressing 
                                weak areas through intensive practice and personalized feedback.
                            </p>
                            <p>
                                Whether you're just starting to learn English or aiming to refine your skills, 
                                this program accelerates learning and helps you achieve your language goals in a shorter timeframe.
                            </p>
                        </div>
                        <!-- About Item End -->
                    </div>
                </div>
            </div>
            <!-- About Items Wrapper End -->
        </div>
    </div>
</div>
<!-- About End -->

<!-- Team Member's Start -->
<div class="section section-padding mt-n1">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title shape-03 text-center">
            <h5 class="sub-title">Team Member’s</h5>
            <h2 class="main-title">GreTutor <span> Development Team</span></h2>
        </div>
        <!-- Section Title End -->

        <!-- Team Wrapper Start -->
        <div class="team-wrapper">
            <div class="row row-cols-lg-5 row-cols-sm-3 row-cols-2">
                <div class="col">
                    <!-- Single Team Start -->
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="assets/images/author/author-dat.png" alt="Author" />
                        </div>
                        <div class="team-content">
                            <h4 class="name">Tran Manh Dat</h4>
                            <span class="designation">Software Engineer, VN</span>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>
                <div class="col">
                    <!-- Single Team Start -->
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="assets/images/author/author-vu.jpg" alt="Author" />
                        </div>
                        <div class="team-content">
                            <h4 class="name">Vu Nguyen</h4>
                            <span class="designation">Software Engineer, VN</span>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>
                <div class="col">
                    <!-- Single Team Start -->
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="assets/images/author/author-hao.jpg" alt="Author" />
                        </div>
                        <div class="team-content">
                            <h4 class="name">Cao Nguyen Hao</h4>
                            <span class="designation">Software Engineer, VN</span>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>
                <div class="col">
                    <!-- Single Team Start -->
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="assets/images/author/author-tuan.png" alt="Author" />
                        </div>
                        <div class="team-content">
                            <h4 class="name">Pham Van Tuan</h4>
                            <span class="designation">Software Engineer, VN</span>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>
                <div class="col">
                    <!-- Single Team Start -->
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="assets/images/author/author-truong.png" alt="Author" />
                        </div>
                        <div class="team-content">
                            <h4 class="name">Cao Van Truong</h4>
                            <span class="designation">Software Engineer, VN</span>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>
            </div>
        </div>
        <!-- Team Wrapper End -->
    </div>
</div>
<!-- Team Member's End -->